// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

      .footerContact{
      li {
       font-size: 0.5em;
       }
     }

     main{
     .service-wrapper{
      height: 830px;
      .body-wrapper{
      .title{
        font-size: 0.8em;
      } 
      p{
      font-size: 0.5em;
      padding-top: 5px;
      padding-bottom: 5px;
      }
      }
      }
      .contact-wrapper{
        form [type=text], form [type=email], .StripeElement {
          width: 200px;              
        }
        }
    }
    

      main{
      .benefits-wrapper{
        height: 400px;
        margin-top: 70px;
        .bodyBenefits div {
          padding: 10px;
        .primary_btn{
          font-size: 1em;
          padding: 5px 30px;
        }
        h2{
          font-size: 1.2em;
        }
        h3{
          font-size: 0.8em;
        }
        p{
          font-size: 0.6em;
        }
        li{
          font-size: 0.4em;
        }
        
      }
      }
      }
      
      .review-wrapper{ 
        .review-container{
          .review>p{
            padding-top: 20px;
            font-size: 0.7em;
          }
        } 
        
      }


      ////Page Contact
      .contact-wrapper{
        section{
          h2{
            font-size:  0.8em;
            margin-top: 115px;
            width: 80px;
          }
          h3{ 
          font-size:  0.8em;
          margin-top: 100px;
          width: 130px;
          }
          } 
          .contactInfo {
            a{
              font-size: 0.8em;
            }
            
          }
        }
        //////Page Service
        .servicepage-wrapper{
        .sectionNav{
          a{
            font-size: 0.4em;
            height: 20px;
          }
        }
        .listServices{
          h2{
            font-size: 1.5em;
          }
        }
        sidebar{
          width: 100%;
        }
        
        article{
          width: 100%;
        }
        .order-wrapper{
          margin: 0;
        .form-style {
          width: 100%;
          }
          form {
            justify-content: center;
          }
        h4{
          font-size: 1.3em;
        }
        p{
          font-size: 0.9em;
        }
        }
        }
        //////Page News
        
        .pageNews-wrapper{
          .newsContent {
            h2{
              font-size: 0.9em;
            }
          p{
            font-size: 0.7em;
          }
        }
        }

        ///Footer
        footer{
          .footer-wrapper{
            .footerNav{
              padding: 10px 20px;
              p{
                font-size: 0.8em;
              }
              li{
                a{
                font-size: 0.7em;
              }
              }
             }
              .footerSoc{ 
              p{
                font-size: 0.5em;
                padding:0;
                padding-bottom: 10px;
              }
              
              .contSoc{
                img{
                  width: 20%;
                }
              }
              }
            }
          }
      
    
          

}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
      //////Header
        header{
          .clback{
          display: none;
          }
          
          .headerNav{
          display: none;

          }
        }  

        .contSoc{
          display: none;
        }
        .bm-burger-button {
          display: block;
          }


          .bannerTop  {
            .heroContent{
              top:25%;
              h1{
                font-size: 2.5em;
              }
              p{
                font-size: 0.8em;
              }
            }
            .modal-wrapper .modal {
              right: 46px;
            }
          }

          //////Form fileUpload
          .wrapper{
            .formUploader{
              p{
                text-align: center;
                font-size: 1em;
                color: $secondLight;
              }
              }
            .form-file-upload {

            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            width: 100%;
            text-align: center;
            position: relative;
            flex-direction: column;                                      
            
            

            
          }  

          .form-file-upload #input-file-upload {
            position: absolute;
            height: 60px;
            width: 200px;
            top: 190px;
          }
          
          form [type=text], form [type=email], .StripeElement {
            width: 300px;              
          }
        }
        
       
        .service-wrapper{
          height: 1030px;
          margin-bottom: 100px;
          .card-wrapper{
            width: 23.8970588235%*2;
            .body-wrapper {
              padding: 20px;
            }
            }
        }

       
        
        
        .news-wrapper span {
          justify-content: center;
          padding: 0;
        }
        .firstCard{
          display: none;
        }


        .title-wrapper{
          h5{
            font-size: 1.7em;
          }
          .button-container{
            img{
              width: 50%;
            }
          }
        }

        ////review
        main{
        .review-wrapper{

        .review-container{
          padding: 0 20px;
          justify-content: center;
        .review {
          padding: 20px 15px;

          &:first-child{
            margin-right: 0;
            }
          &>p{
            padding-top: 20px;
          }  
            }
            }
          } 
        }

        ///news blockk
        .news-wrapper{
          div{
            justify-content: center;
          }
          .card-wrapper{
          .body-wrapper{
            img{
              width: 20%;
            }
            .date{
              font-size: 0.8em;
              text-align: left;
            }
            div{
              padding: 5px;
            }
          .title{
            font-size: 0.6em;
          }
          .content{
            font-size: 0.4em;
          }
        }
        }
        }

}

@media (min-width: 760px) and (max-width: 959.98px){
        .service-wrapper{
          height: 1030px;
          margin-bottom: 100px;
          .card-wrapper{
            width: 23.8970588235%*2;
            .body-wrapper {
              padding: 20px;
            }
            }
        }
        main{
          .benefits-wrapper{
            margin-top: 70px;
            .bodyBenefits div {
              padding: 10px;
            .primary_btn{
              font-size: 1em;
              padding: 5px 30px;
            }
            h2{
              font-size: 1.9em;
            }
            h3{
              font-size: 1.2em;
            }
            p{
              font-size: 0.9em;
            }
            li{
              font-size: 0.7em;
            }
            
          }
          }
          }

           ////review
        main{
          .review-wrapper{
  
          .review-container{
            padding: 0 20px;
            justify-content: center;
          .review {
            padding: 20px 25px;
  
            &:first-child{
              margin-right: 0;
              }
            &>p{
              padding-top: 20px;
            }  
              }
              }
            } 
          }

          ////Page Contact
      .contact-wrapper{
        section{
          h2{
            font-size:  1.8em;
            margin-top: 110px;
            
          }
          h3{ 
          font-size:  1.8em;
          margin-top: 80px;
          
          }
          } 
          .contactInfo {
            a{
              font-size: 1.8em;
            }
            
          }
        }

} 

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
  .form-file-upload #label-file-upload {
    p{
      font-size: 10px;
      display: none;
      font-color: $secondLight;
    }
    
  }
  


}