
@media (max-width: 390.98px) { 
  footer{ 
    .footerContact{
     li {
        font-size: 0.5em !important;
        }
      }
      }
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
        .service-wrapper{
          height: 930px!important;
        p{
          font-size: 0.6em!important;
        }
      } 
      .contact-wrapper{
      form [type=text], form [type=email], .StripeElement {
        width: 200px!important;              
      }
      }
      .benefits-wrapper{
        margin-top: 70px!important;
        
        height: 415px !important;
        .primary_btn{
          font-size: 1em;
          padding: 5px 30px;
        }
        h2{
          font-size: 1.5em!important;
        }
        h3{
          font-size: 1em!important;
        }
        p{
          font-size: 0.6em!important;
        }
        li{
          font-size: 0.6em!important;
        }
        .bodyBenefits div {
          padding: 10px!important;
      }

    }
    .title-wrapper{
      display: block!important;
      button-container{
        img{
      width: 10px!important;
    }
    }
    }

    .contact-wrapper{
      section{
        h2{
          font-size:  0.9em!important;
          margin-top: 120px;
        }
        h3{ 
        font-size:  0.8em!important;
        margin-top: 100px!important;
        width: 150px;
        }
    } 
    .contactInfo {
      a{
        font-size: 0.9em!important;
      }
      .contSoc{
        
        width: 25px!important;
      
      }
    }
    }

    .sectionNav{
      a{
        font-size: 0.4em;
        height: 20px!important;
      }
    }
    .listServices{
      h2{
        font-size: 1.5em;
      }
    }
    .servicepage-wrapper{
      sidebar{
        width: 100%;
      }
      
      article{
        width: 100%;
      }
      .order-wrapper{
          margin: 0;
        .form-style {
          width: 100%;
          }
          form {
            justify-content: center;
          }
        h4{
          font-size: 1.3em;
        }
        p{
          font-size: 0.9em;
        }
      }
    }
    .pageNews-wrapper{
      p{
        font-size: 0.7em;
      }
    }

    .review-wrapper{ 
      .review-container{

        .review>p{
          padding-top: 20px!important;
          font-size: 0.7em !important;
        }
      } 
      
    }
    footer{

     .footerSoc{ 
      p{
        font-size: 0.5em;
      }
    }

    }
 }

// Small devices (landscape phones, less than 768px)
 @media (max-width: 767px) { 

          header{
            .clback{
            display: none;
            }
        }
        .headerNav{
          display: none;

        }

          .bannerTop  {
            .heroContent{
              top:25%;
              h1{
                font-size: 2.5em;
              }
              p{
                font-size: 0.8em;
              }
            }
            .modal-wrapper .modal {
              right: 46px;
            }
          }
      
        
          .wrapper{
            .formUploader{
              p{
                text-align: center;
                font-size: 1em;
                color: $secondLight;
              }
              }
            .form-file-upload {

            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            width: 100%;
            text-align: center;
            position: relative;
            flex-direction: column;                                      
            
            

            
          }  

          .form-file-upload #input-file-upload {
            position: absolute;
            height: 100px;
            width: 200px;
            top: 190px;
          }
          
        
        }
        form [type=text], form [type=email], .StripeElement {
          width: 300px!important;              
        }
        .blockHeader{
          padding-bottom: 70px;
        }

        .service-wrapper{
                height: 950px;
                margin-bottom: 100px;
                .card-wrapper{
                  width: 23.8970588235%*2;
                  .body-wrapper {
                    padding: 20px;
                  }
              }
        }   

        .benefits-wrapper {
          height: 500px!important;

        }

        .news-wrapper span {
          justify-content: center;
          padding: 0;
        }
        .firstCard{
          display: none;
        }

        .review-wrapper .review-container .review {
          padding: 20px 15px!important;
                }

        }


        //Max devices
@media (min-width: 885px) {  
    .bm-burger-button{
      display: none;
    }        


}

 @media (max-width: 885px) {  
                
              
 
              .formUploader {

                #label-file-upload {
                p{
                  font-size: 10px;
                  display: none;
                }
                
              }
            }
            

           
  
 
 
   
  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

                    
                .bm-burger-button {
                display: relative!important;
                }
              
              .headerNav{
                font-size: 1rem;
              }
              .contSoc{
                display: none;
              }

              .wrapper {
                justify-content: center;
            }

              .formUploader {
                width: 100%;
                padding: 40px;
                border:0;
                box-sizing: border-box;
              }
              .partnerBlock{
                display: none;
              }
 }


 // Large devices (desktops, less than 1200px)
@media (max-width: 1102px) { 

              .service-wrapper{
                height: 630px!important;
              }
  
              .soc{
                display: none;
              }
              header nav span .phone {
                font-size: 0.95em;
            }

            .bannerTop h1{
              font-size: 3.5rem;
            }

            .contact-wrapper{
              section{
                h2{
                  font-size:  1.5em;
                }
                h3{ 
                font-size:  1.5em;
                }
            } 
            .contactInfo {
              a{
                font-size: 1.5em;
              }
            }
            }
}

// Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) { 
    
  }

// X-Large devices (large desktops, less than 1400px)
  @media (max-width: 1399.98px) { 
    
  }