/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border-bottom: 1px solid #88878F;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5em 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  margin: 10px;
  
  &:focus{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: #ffffff;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 238px;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

// component style


.form-file-upload {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    text-align: center;
    position: relative;

    legend{
        width: 100%;
    }
  
#input-file-upload {
  position: absolute;
  height: 70px;
  width: 14.705882352941176%;
  top: 0px;
  opacity: 0;
    }

  #label-file-upload {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: dashed;
    border-color: #88878F;
    background-color: #f8fafc;
    cursor: pointer;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.08), 0px 8px 20px 0px rgba(0, 0, 0, 0.10), 2px 2px 10px 0px rgba(35, 31, 32, 0.20);
    p{
      font-size: 12px;
      text-shadow: none;
      font-weight: 300;
    }
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
  }
  
  .upload-button:hover {
    text-decoration-line: none;
  }
}


@media (max-width: 885px) {  
 
 
  form [type=text], form [type=email], .StripeElement {
    width: 175px;

    .form-file-upload #label-file-upload {
      p{
        font-size: 10px;
        display: none;
      }
      
    }
    
  }
}