.benefits-wrapper{
    height: 320px;
    background-color: #BDBCC5;
    background-image: url(/backgroundBenefits.png);
   
    .bodyBenefits{
        padding: 30px;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
            
        &>div{
            width: 50%;
            padding: 30px;
        }
       
        h2{
            padding-bottom: 10px;
        }

        h3{
            font: 1.3rem "Inter", sans-serif;
        }
        .primary_btn{
            margin-top: 50px;
        }

        p{
            font: 0.9375rem "Inter", sans-serif;
        }


    }
}