.card-wrapper {
    width: 23.897058823529412%;
    
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.08), 0px 8px 20px 0px rgba(0, 0, 0, 0.10), 2px 2px 10px 0px rgba(35, 31, 32, 0.20);
    
    
    .body-wrapper{
        padding: 30px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p{
            padding-top: 10px;
            padding-bottom: 10px;
        }

        a{
            text-decoration: none;
            color: #0D0C0E;
        }
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
    .card-wrapper {
        display: block!important;
      }

      news-wrapper .card-wrapper .body-wrapper div {
        padding: 10px!important;
      }
      card-wrapper .body-wrapper .title {
        font-size: 0.4em!important;
      }



}