@import "reset";
@import "mixins";
@import "designsys";
@import "fonts";



.blockHeader{
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}

header{
    margin: 20px 40px;
    background-color: white;
    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
       

        span{
           .phone{
            font: $navMenu;
            margin-right: 20px;
           }
            a{
                display: inline-block;
                text-decoration: none;
                color: $secondary;
                vertical-align: middle;
            }
        }
        
    }
}


.headerNav{
    font: $navMenu;
    a{
        padding: 10px;
        &:hover{
            opacity: 0.6;
        }
    }
    
}

.bannerTop{
position: relative;
height: 430px;

    .heroContent{
       position: absolute;
       width: 65%;
       top: 30%;
        padding: 0 65px;
}
    h1{
        font: $headingX1;
        font-weight: 500;
        color: $primary;
}
    p{
        font-size: 0.9em;
        font-weight: 700;
        color: $secondary;
    }

    button{
        margin-top: 30px;
    }

}
.wrapper{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.partnerBlock{
    width: 23.75%;
    padding: 10px;
    padding-left: 40px;
    margin-top:10px;
    p{
        font: $title20;
       text-transform: uppercase;
       font-weight: 600;

    }
    ul{
        padding-top: 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        
        li{
          padding-right: 20px;
        }
    }
}

.formUploader{
    width: 76.25%;
    padding: 10px;
    padding-left: 20px;
    border-left: 1px solid #88878F;
    margin-top:10px;
    
    p{
          font: $title20;
          font-weight: 600;
          text-shadow: $textshadow;
        }
      

}

.modal{
    form{
        margin-bottom: 30px;
    }
    .primary_btn{
        margin-top: 20px;
    }
    .secondary_btn{
        margin-top: 20px;
    }
}


.service-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin: 40px;
    height: 530px;

  
}

.order-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 60px 0;
    
    h4{
        padding-bottom: 20px;
        text-align: center;
    }

    p{
        font: $title20;
        padding-bottom: 20px;
        text-align: center;
        font-weight: 500;
    }
    .form-style{
        width: 51.470588235294118%;
    }
    form{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    }
    form [type=text], form [type=email], .StripeElement {
        width: 100%;
    }
    button{
        margin: 50px auto;
    }
    
}

.news-wrapper{
    .cuttedText{
        
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
        
    }
    .cuttedContent{
        height: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    margin: 100px 40px;
    .firstCard{
        .title{
            margin-top: 200px;
        }
    }

    h5{
        margin: 40px auto;
        text-align: center;
    }
    
    span {
            display: flex;
            padding: 10px;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-end;
    }
    .card-wrapper{
        align-items: normal;
    }

    .card-wrapper .body-wrapper {
        padding: 5px;
        div{
            padding: 20px;
            overflow: hidden;
        }
        
    }
    .card-wrapper .body-wrapper p {
        padding-top: 0px; 
        padding-bottom: 0px;
    }
    .title{
        padding: 5px;
    }

    .content{
        font-size: 13px;
        padding: 5px;
        
    }
}


.servicepage-wrapper{
    sidebar{
        width: 50%;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin: 40px;

    h1{
        padding: 40px 0;
    }
    
.sectionNav {
    width: 100%;
    a{
        width: 16.176470588235294%;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-left: 1px solid $LightGrey;
        text-decoration: none;
        color: $primary;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover{
            opacity: 0.6;
        }
        
    }
    .firstlineNav{
        width: 100%;
        a:first-child{
            border: none;
        }
    }
    .secondlineNav{
        width: 100%;
        border-top: 1px solid $LightGrey;
        a:first-child{
            border: none;
        }
    }

    .active{
        color:#FFF;
        background-color: $secondary;
    }
   
}


article{
    margin-top: 60px;
    width: 50%;
    ul{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .listCard{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25) inset;
        

        .title{
            font: $title20;
            font-weight: 600;
            padding: 10px;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            } 
            
        }
        
    }
    .list-paragraph{
        padding: 20px;
        padding-right: 40px;
        opacity: 0.8;
        
    }
}

}

.headingContact{
    padding-left: 40px;
    padding-top: 40px;
}

.contact-wrapper{
    display: flex;

    padding: 40px;
    .form-style{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        form{
            display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        margin-bottom: 150px;
        }
        
        form [type=text], form [type=email], .StripeElement {
            width: 100%;
        }
    }
    .contSoc{
        display: flex;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end
    }
    section{
        width: 50%;
        h3{
            margin-top: 200px;
        }
    }
    
    .contactInfo{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100px;

        a{
        font: $h2inter;
        text-decoration: none;
        font-weight: 600;
        text-transform:uppercase;
        text-align: right;
        color: $primary;

        
    }

    
    }
}


.pageNews-wrapper{
    margin: 60px 40px;
    article{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .newsContent{
        padding: 40px;
        box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25) inset;
        h2{
            padding-bottom: 20px;
        }

    }
    .date{
        padding: 40px 10px;
    }
}


footer{
    
    width: 100%;
    color: white;
    background-color: $purpleDark;
    .footer-wrapper{
        display: flex;
        padding: 40px;
       
    }
    .footerSoc{
        width: 40%;
    }
    .footerNav{
        width: 30%;
        padding: 20px;
        p{
            font: $title15;
        }
        
        a{
           
            text-decoration: none;
            color: white;
            font: $title15;
            padding-bottom: 5px;
            display: inline-block;
        }
    }

    .footerSoc{
        .contSoc{
            img{
                margin-right: 10px;
            }
        }

        p{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 40px;
        }
    }
    .footerContact{
        box-sizing: border-box;
        
        li{
            color: white;
            text-decoration: none;
        }
    }
    hr{
        margin: 20px 40px;
        box-sizing: border-box;
    }
    .copyright{
        box-sizing: border-box;
        padding: 20px 40px;
        display: flex;
        width: 100%;
        font-size: 9px;
    }
}


/* Position and sizing of burger button */
.bm-burger-button {
    position: none;
    width: 50px;
    height: 50px;
    
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    top: 0px;
    position: fixed;
    height: 100%;
    nav{
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        align-content: stretch;
        justify-content: flex-end;
        align-items: flex-end;
        a{
            padding: 20px 20px;
            text-decoration: none;
            color: white;
        }
    }
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #13072D;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {

    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  




@import "_mediaqueries";
